div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > p {
        margin-top: 1rem;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.salsichas{
    border-radius: 50%;
}
.botoes {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

label {
    margin-top: 2rem
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    div {
        > p {
            font-size: medium;
        }
    }
    .salsichas{
        width: 95%;
        height: 95%;
    }
}